body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.square{
    width: 100px;
    height: 100px;
    background-color: beige;
    border: 1px solid gray;
    display: inline-block
}

.o{
    position: relative;
}

.o:after{
    position: absolute;
    content: "\1F354";
    font-size: 50px;
    line-height: 100px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

.x{
    position: relative;
}

.x:after{
    position: absolute;
    content: "\1F355";
    font-size: 50px;
    line-height: 100px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

button{
    font-size: 18px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
}

.buttonsContainer{
    width: 315px;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
}

.scoreboardContainer{
    border: 1px solid black;    
    width: 315px;
    margin: 10px auto;
    border-radius: 10px;
}

.scoreboardContent{
    display: flex;
    justify-content: space-around;
    height: 50px;
    
}

.scoreboardResult{
    font-size: 35px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.player1::after{
    content: "\1F354";    
}

.player2::after{
    content: "\1F355";    
}


