*{
    font-family: 'Cabin Sketch', cursive;
}

h1{
    font-size: 50px;
    margin: 0;
    padding-bottom: 20px;
}

body {
  text-align: center;
  background-image: url("../images/blackboard.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.stage{
    display: flex;
    justify-content: center;    
}

.stageContent {
    display: grid;
    width: 320px;
    height: 320px;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    overflow: auto;  
}

.stageContent div {
  outline: 2px solid white;
}

.stageContent div:last-child {
  grid-area: 3/3;
}

.square{
    display: flex;
    align-items: center;
    justify-content: center;
}

.square div{
    outline: none;
}

.o:after {
    content: "X";
    font-size: 70px;
}

.x:after {
    content: "O";
    font-size: 70px;
}

button {
  font-size: 26px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.buttonsContainer {
  width: 315px;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
}

.scoreboardContainer {
  border: 1px dashed white;
  width: 315px;
  margin: 10px auto;
  border-radius: 10px;
}

.scoreboardContainer h2{
    font-size: 40px;
    margin: 0;
    padding-bottom: 15px;
}

.scoreboardContent {
  display: flex;
  justify-content: space-around;
  height: 50px;
}

.scoreboardResult {
  font-size: 50px;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.player1::after {
  content: "X";
}

.player2::after {
  content: "O";
}


.winner-horizontal-line{
  background-color: white;
  width: 320px;
  height: 5px;

  position: absolute;
  z-index: 1;
  
  left: calc(100vw/2 - 160px);

  animation: growX .5s;
}

@keyframes growX {
  from{width: 0%};
}


.winner-vertical-line{
  background-color: white;
  width: 5px;
  height: 320px;

  position: absolute;
  z-index: 1;
  
  top: 87px;

  animation: growY .5s;
}

@keyframes growY {
  from{height: 0%};
}

.winner-diagonal-line{
  background-color: white;
  width: 5px;
  height: 450px;

  position: absolute;
  z-index: 1;

  transform: rotate(-45deg);
  animation: growDiagonal .5s ;
}

@keyframes growDiagonal {
  from {height: 0%};
}
